In [1]:
import os
import time
import glob
from pprint import pprint
from datetime import datetime

import pandas as pd

In [2]:
# Load the two datasets.
dataset1_path = "/Users/administrator/Documents/Projects/sf-crime-exploration/data/SFPD_Crime_Data_2003_2018.csv"
dataset2_path = "/Users/administrator/Documents/Projects/sf-crime-exploration/data/SFPD_Crime_Data_2018_Present.csv"

dataset1 = pd.read_csv(dataset1_path)
dataset2 = pd.read_csv(dataset2_path)

# Define the subsets of the data that we want to preserve.
subset1 = ["Category", "DayOfWeek", "Date", "Time", "PdDistrict", "X", "Y"]
subset2 = [
    "Incident Category", 
    "Incident Day of Week",
    "Incident Date",
    "Incident Time",
    "Police District", 
    "Latitude",
    "Longitude",
]
master_columns = ["Date", "Time", "Day of Week", "Category", "District", "Latitude", "Longitude"]

# Define the dictionaries that are used for renaming the categories.
subset1_rename = {"DayOfWeek": "Day of Week", "PdDistrict": "District", "X": "Longitude", "Y": "Latitude",}
subset2_rename = {
    "Incident Category": "Category", 
    "Incident Day of Week": "Day of Week", 
    "Incident Date": "Date", 
    "Incident Time": "Time", 
    "Police District": "District",
}

#### Modify Dataset 1

In [3]:
# Narrow down to the subset of columns that we are interested in.
dataset1 = dataset1[subset1]

# Drop null/invalid values.
dataset1.dropna(inplace=True)

# Rename the columns.
dataset1.rename(columns=subset1_rename, inplace=True)

# Remove any "Out of SF" entries if they exist.
dataset1["District"] = dataset1["District"][dataset1["District"] != "Out of SF"]

# Capitalize the entries in the "Day of Week" column.
dataset1["Day of Week"] = dataset1["Day of Week"].apply(lambda x: x.upper())

# Capitalize the entries in the "Category" column.
dataset1["Category"] = dataset1["Category"].apply(lambda x: x.upper())

# Capitalize the entries in the "District" column.
dataset1["District"] = dataset1["District"].apply(lambda x: x.upper())

NameError: name 'dataset' is not defined

#### Modify Dataset 2

In [5]:
# Narrow down to the subset of columns that we are interested in.
dataset2 = dataset2[subset2]

# Drop null/invalid values.
dataset2.dropna(inplace=True)

# Rename the columns.
dataset2.rename(columns=subset2_rename, inplace=True)

# Remove any "Out of SF" entries if they exist.
dataset2["District"] = dataset2["District"][dataset2["District"] != "Out of SF"]

# Capitalize the entries in the "Day of Week" column.
dataset2["Day of Week"] = dataset2["Day of Week"].apply(lambda x: x.upper())

# Capitalize the entries in the "Category" column.
dataset2["Category"] = dataset2["Category"].apply(lambda x: x.upper())

# Capitalize the entries in the "District" column.
dataset2["District"] = dataset2["District"].apply(lambda x: x.upper())

AttributeError: 'float' object has no attribute 'upper'

#### Merge the Datasets

In [5]:
# Use concat to merge the two datasets.
datasets = [dataset1, dataset2]
dataset = pd.concat(datasets, ignore_index=True)

# Reorder the columns.
dataset = dataset[master_columns]

In [6]:
dataset.tail()

,Date,Time,Day of Week,Category,District,Latitude,Longitude
2534373,2020/08/15,20:44,SATURDAY,Larceny Theft,Central,37.788808,-122.411886
2534374,2020/08/15,08:00,SATURDAY,Non-Criminal,Northern,37.792263,-122.436204
2534375,2020/08/15,15:47,SATURDAY,Burglary,Central,37.788293,-122.408402
2534376,2020/08/15,21:52,SATURDAY,Recovered Vehicle,Taraval,37.741234,-122.474494
2534377,2020/08/15,23:50,SATURDAY,Burglary,Central,37.788293,-122.408402

In [7]:
save_path = "/Users/administrator/Documents/Projects/sf-crime-exploration/data/SFPD_Crime_Data_Full.csv"
dataset.to_csv(save_path, index=False)